<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Go Sentinel Dashboard</title>
  <link rel="stylesheet" href="/static/css/tailwind.build.css">
  <link rel="stylesheet" href="/static/css/styles.css">
  <script src="https://unpkg.com/htmx.org@1.9.10"></script>
</head>
<body>
  <div class="min-h-screen flex flex-col">
    {{{body}}}
  </div>
</body>
</html>
