{{define "partials/card-content"}}
<div class="test-table-container content-padding">
    <div class="card-content">
        {{block "card-inner-content" .}}
        <p>{{.Content}}</p>
        {{end}}
    </div>
</div>
{{end}}
