{{define "partials/content-section"}}
<section class="recent-tests">
    <div class="section-header">
        <h2>{{.Title}}</h2>
        {{if .ShowButton}}
        <button class="{{if .ButtonClass}}{{.ButtonClass}}{{else}}run-all-button{{end}}" 
                aria-label="{{.ButtonLabel}}"
                {{if .ButtonHxPost}}hx-post="{{.ButtonHxPost}}"{{end}}
                {{if .ButtonHxTarget}}hx-target="{{.ButtonHxTarget}}"{{end}}>
            {{.ButtonText}}
        </button>
        {{end}}
    </div>
    
    {{if .ContentId}}
    <div id="{{.ContentId}}" class="test-table-container content-padding"
        {{if .HxGet}}hx-get="{{.HxGet}}"{{end}}
        {{if .HxTrigger}}hx-trigger="{{.HxTrigger}}"{{end}}
        {{if .HxSwap}}hx-swap="{{.HxSwap}}"{{end}}>
        {{.Content}}
    </div>
    {{else}}
    <div class="test-table-container content-padding">
        {{.Content}}
    </div>
    {{end}}
</section>
{{end}}
